@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    min-height: 100vh;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    /* overflow-y: hidden; */
}


/* HEADER SECTION */
.header-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    grid-row-start: 1;
}

.header-container .menu {   /* TODO: create animation for menu bar */
    margin-left: 0;
    width: 2rem;
    height: 2rem;
}

.header-container > h1 {    /* header title */
    font-size: 2rem;
}

.header-container > svg {   /* header logo */
    margin-left: 0.8rem;    /* put space between title and logo */
    margin-right: 0.8rem;
    width: 3rem;
    height: 3rem;
}

.header-container > button {
    background-color: transparent;
    border: none;
    margin-left: auto;
    width: 2rem;
    height: 2rem;
}


/* LIBRARY SECTION */
.library-container {
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-auto-rows: 15rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}


/* BOOK SECTION */
.book {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid;
    padding: 1.5rem;
}

.book .title {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1rem;
}

.book .author {
    text-align: left;
}

.book .page-count {
    text-align: left;
}

.book .read {
    margin-top: auto; /* place buttons on the bottom of book */
    text-transform: uppercase;
}

.book .delete {
    text-transform: uppercase;
}


/* FOOTER SECTION */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}
