@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    display: grid;
    margin: 1rem;
}


/* HEADER SECTION */
.header-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.header-container > h1 { /* header title */
    font-size: 2rem;
}

.header-container > svg { /* header logo */
    width: 3rem;
    margin-left: 0.8rem; /* put space between title and logo */
}

.header-container > input { /* button to add more books */
    width: 3rem;
    height: 3rem;
    margin-left: auto;
}


